<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=320, target-densitydpi=device-dpi">

    <!--[if gte mso 9]>
    <style _tmplitem="470" >
    .article-content ol, .article-content ul {
       margin: 0 0 0 24px;
       padding: 0;
       list-style-position: inside;
    }
    </style>
    <![endif]-->

    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
    <table cellpadding="0" cellspacing="0" id="background-table">
        <tbody>
            <tr>
                <td align="center" id="td1">
                    <table class="w640" cellpadding="0" cellspacing="0" id="table2">
                        <tbody>
                            <!--### TOP LINKS ###-->
                            <tr>
                                <td class="w640">                    
                                    <div class="header-content" align="center">
                                        (Clipping) Lorem ipsum avec dolor sit amet, consectetur adipiscing elit. 
                                        <span class="breakline">
                                            <a href="#">Website version.</a> &gt;
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <!--### LOGO ###-->
                            <tr>
                                <td class="w640">
                                    <div align="center" id="logo">                
                                        <!-- <img src="http://www2.stibosystems.com/l/19062/2013-09-18/4hpp1/19062/53330/stibo_systems.gif" alt="Stibo Systems" width="223" height="42" /> -->
                                        <img src="http://placehold.it/446x84" alt="Stibo Systems" id="logo-img">
                                    </div>
                                </td>
                            </tr>
                            <!--### HEADLINE ###-->
                            <tr>
                                <td class="w640">
                                    <div align="center" id="headline">                
                                        <p>
                                            <strong>
                                                <span label="Title">
                                                    3 quick steps to a 
                                                    <br>longer lasting roof
                                                </span>
                                            </strong>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            <!--### DATELINE ###-->
                            <tr>
                                <td class="w640">
                                    <div align="center" id="dateline">
                                        <p>Dateline text goes here</p>
                                    </div>
                                </td>
                            </tr>
                            <!--### ACTION ###-->
                            <tr>
                                <td class="w640">
                                    <div align="center" class="article-content">
                                        <table>
                                            <tr>
                                                <td align="center" id="actionTable-td">
                                                    <a href="" id="actionTD-a">Press Me</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <!--### SPACER ###-->
                            <!-- <tr>
                                <td class="w640">
                                    <div align="center">
                                        <img src="http://www2.stibosystems.com/l/19062/2013-09-18/4hpp3/19062/53328/i.gif" alt="" />
                                        <img src="http://placehold.it/591x382" alt="fpo" />
                                    </div>
                                </td>
                            </tr> -->
                            <!--### IMAGE ###-->
                            <tr>
                                <td class="w640">
                                    <div align="center" class="article-content">
                                        <p>
                                            <img src="http://placehold.it/591x382" alt="The Webinar" />
                                        </p>
                                    </div>
                                </td>
                            </tr>

                            <!--### TEXT ###-->
                            <tr id="text-tr" pardot-repeatable="txt" class="tr">
                                <td class="w640 td">
                                    <div class="article-content td-article-content">
                                        <div pardot-region="" class="td-div-div">
                                            <p>Customer data is used in virtually every aspect of the business. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <p>Why you should <a href="#">register now</a> for this webinar:</p>
                                            <ul>
                                                <li>The traditional ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                <li>The future ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                                <li>All attendees will receive a Starbucks gift card on us!</li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!--### Signature ###-->
                            <tr pardot-removable="" class="tr">
                                <td class="w640 td">
                                    <div align="center" class="article-content td-article-content">
                                        <div pardot-region="" class="td-div-div">
                                            <p>Best Regards,</p>
                                            <p>
                                                <img src="http://www2.stibosystems.com/l/19062/2013-09-19/4hwcp/19062/53404/stickler_signature.gif" id="signature-img" alt="Terry Stickler"><br>
                                                Terry Stickler<br>
                                                Sr. Director of Marketing
                                            </p>                        
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <!--### Footer ###-->
                            <tr id="footer-tr" class="tr">
                                <td class="w640 td" id="footer-td">
                                    <div align="center" class="footer-content">
                            
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td align="center" class="footerTable-td">
                                                        <a href="" class="footerTable-td-a">
                                                            <img src="http://www2.stibosystems.com/l/19062/2013-09-19/4hwd7/19062/53410/icon_facebook.gif" class="social-media-img" alt="Facebook">
                                                        </a>
                                                    </td>
                                                    <td align="center" class="footerTable-td">
                                                        <a href="" id="footerTable-td2-a" class="footerTable-td-a">
                                                            <img src="http://www2.stibosystems.com/l/19062/2013-09-19/4hwd9/19062/53408/icon_twitter.gif" class="social-media-img" alt="Twitter">
                                                        </a>
                                                    </td>
                                                    <td align="center" class="footerTable-td">
                                                        <a href="" class="footerTable-td-a">
                                                            <img src="http://www2.stibosystems.com/l/19062/2013-09-19/4hwd5/19062/53406/icon_linkedin.gif" class="social-media-img" alt="LinkedIn">
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>
                                            <a href="%%unsubscribe%%">unsubscribe</a> from this list<br>
                                            update <a href="%%email_preference_center%%">subscription preferences</a>
                                        </p>
                                        <p>%%account_address%%</p>
                                        <p pardot-region="" class="">© 2013 Stibo Systems. All rights reserved.</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>