$blue-btn: #00a3f7;
$blue-link: #0096ff;
$blk: #000;
$wt: #fff;

$red: #ff4000;
$gray9: #999;

$font-1: Helvetica, Arial, Geneva, sans-serif;
$font-2: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;

#background-table {
	width: 100%;
	border: none;
}
#td1 {
	background-color: $wt;
}
.w640 {
	width: 640px;
}
#table2 {
	margin: 0 10px;
	border: none;
}

#actionTable-td {
	background: $blue-btn;
	padding-top: 8px;
	padding-right: 12px;
	padding-bottom: 8px;
	padding-left: 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	display: block;font-size:16px
}

#actionTD-a {
	color: $wt;
	text-decoration: none;
}